

-html, body {
	margin: 0;
	padding: 0;
}

@font-face{font-family:tk-futura-pt-n5;src:url(https://use.typekit.net/af/9749f0/00000000000000000001008f/27/l?subset_id=2&fvd=n5) format("woff2"),url(https://use.typekit.net/af/9749f0/00000000000000000001008f/27/d?subset_id=2&fvd=n5) format("woff"),url(https://use.typekit.net/af/9749f0/00000000000000000001008f/27/a?subset_id=2&fvd=n5) format("opentype");font-weight:500;font-style:normal;}@font-face{font-family:tk-futura-pt-n7;src:url(https://use.typekit.net/af/90cf9f/000000000000000000010091/27/l?subset_id=2&fvd=n7) format("woff2"),url(https://use.typekit.net/af/90cf9f/000000000000000000010091/27/d?subset_id=2&fvd=n7) format("woff"),url(https://use.typekit.net/af/90cf9f/000000000000000000010091/27/a?subset_id=2&fvd=n7) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:tk-futura-pt-n4;src:url(https://use.typekit.net/af/8a5494/000000000000000000013365/27/l?subset_id=2&fvd=n4) format("woff2"),url(https://use.typekit.net/af/8a5494/000000000000000000013365/27/d?subset_id=2&fvd=n4) format("woff"),url(https://use.typekit.net/af/8a5494/000000000000000000013365/27/a?subset_id=2&fvd=n4) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:tk-futura-pt-n3;src:url(https://use.typekit.net/af/75f41e/000000000000000000010096/27/l?subset_id=2&fvd=n3) format("woff2"),url(https://use.typekit.net/af/75f41e/000000000000000000010096/27/d?subset_id=2&fvd=n3) format("woff"),url(https://use.typekit.net/af/75f41e/000000000000000000010096/27/a?subset_id=2&fvd=n3) format("opentype");font-weight:300;font-style:normal;}


body {
	background-color: #f2f2f2;
	color: #2a2a2a;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	overflow-x: hidden;
	font-family: "futura-pt", sans-serif;
	cursor: url(../assets/close.svg), auto;

}


a{ cursor: hand;}



p::selection, a::selection{
	background: #aaa;
}

p::-moz-selection, a::-moz-selection {
  background: #aaa; /* Gecko Browsers */
}



.bio {
	font-family: "futura-pt", sans-serif;
	max-width: 50%;
	font-size: 28px;
	font-weight: 400;
	line-height: 40px;
	padding-left: 5%;
	padding-top: 40px;

}



a {
	text-decoration: none;
}

.underline{
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #2a2a2a;
  padding: 0px 3px 0px 3px;
  transition: color ease 0.3s;
  margin-bottom: 5px;
}
.underline:after {
   content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #ddd;
    transition: all ease 0.3s;

}
.underline:hover {
  color: #2a2a2a;
}
.underline:hover:after {
 height: 100%;

}


h1{
	font-family: 'futura-pt';
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #aaa;

}


@media screen and (max-width: 1024px) {
.bio {
	max-width: 80%;
	}
}

@media screen and (max-width: 500px) {
.bio {
	max-width: 100%;
	font-size: 23px;
	line-height: 32px;
	padding-left: 20px;
	padding-right: 20px;
	}
}


